.viewActions{
    width: 210px;
}

.viewActionsMain{
    width: 210px;
}

.colDirection{
    flex-direction: row;
}

@media screen and (max-width: 1150px) {
    .viewActions{
        width: 70px
    }
    .viewActionsMain{
        width: 70px;
    }
    .colDirection{
        flex-direction: column;
    }
}