.notificationActions{
    width: 100px;
}

.colDirection{
    flex-direction: row;
}

@media screen and (max-width: 1200px) {
    .notificationActions{
        width: 90px
    }
    .colDirection{
        flex-direction: column;
    }
}