// global styles
a { cursor: pointer; }

.app-container {
    min-height: 320px;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.header-class {
    background-color: rgba(24, 24, 24, 0.637);
    color: white;
}

.width100 {
    width: 80px !important;
}

.background-green {
    background-color: #28a74540;
}

.background-red {
    background-color: #dc354540;
}

.display-6 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 2;
}

.display-5 {
    font-size: 2rem !important;
    font-weight: 300 !important;
    line-height: 2 !important;
}

.display-4 {
    font-size: 3rem !important;
    font-weight: 300 !important;
    line-height: 2 !important;
}

.display-3 {
    font-size: 4rem !important;
    font-weight: 300 !important;
    line-height: 2 !important;
}